{% extends 'base.html.twig' %}

{% block title %}Eleve{% endblock %}

{% block body %}
    <h1>Eleve</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eleve.nom }}</td>
            </tr>
            <tr>
                <th>Prenoms</th>
                <td>{{ eleve.prenoms }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ eleve.nationalite }}</td>
            </tr>
            <tr>
                <th>EcoleDeProvenance</th>
                <td>{{ eleve.ecoleDeProvenance }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ eleve.matricule }}</td>
            </tr>
            <tr>
                <th>LieuDeNaissance</th>
                <td>{{ eleve.lieuDeNaissance }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ eleve.photo }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ eleve.sexe }}</td>
            </tr>
            <tr>
                <th>DateDeNaissance</th>
                <td>{{ eleve.dateDeNaissance ? eleve.dateDeNaissance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ eleve.observations }}</td>
            </tr>
            <tr>
                <th>PersonneAContacter1</th>
                <td>{{ eleve.personneAContacter1 }}</td>
            </tr>
            <tr>
                <th>PersonneAContacter2</th>
                <td>{{ eleve.personneAContacter2 }}</td>
            </tr>
            <tr>
                <th>NumeroContact1</th>
                <td>{{ eleve.numeroContact1 }}</td>
            </tr>
            <tr>
                <th>NumeroContact2</th>
                <td>{{ eleve.numeroContact2 }}</td>
            </tr>
            <tr>
                <th>DateDInscription</th>
                <td>{{ eleve.dateDInscription ? eleve.dateDInscription|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>InscriptionComplete</th>
                <td>{{ eleve.inscriptionComplete ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_eleve_index') }}">back to list</a>

    <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}">edit</a>

    {{ include('eleve/_delete_form.html.twig') }}
{% endblock %}
