<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}
    
    
    <div class="form-row bg-dark">
        {{ form_row(form.classe) }}

        {% if form.inscription is defined %}
            {{ form_row(form.inscription) }}
        {% endif %}
    </div>

    <div class="form-group">

        {% if form.status is defined %}
                {{ form_row(form.status) }}
        {% endif %}

    </div>

    <div class="form-group">
        {% if form.montantUnique is defined %}
                {{ form_row(form.montantUnique) }}
        {% endif %}
    </div>

    <div class="form-group">

    </div>




        {% if form.montant is defined %}
        {{ form_row(form.montant) }}
        {% endif %}
    
        <button>Enregistrer</button>
    {{ form_end(form) }}
</div>