<div {{ attributes }}>
    {{ form_start(form) }}
        {{ form_row(form.inscription) }}
        {{ form_row(form.status) }}
        {{ form_row(form.montant) }}
    
        <button>Save</button>
    {{ form_end(form) }}
</div>