<tr {{ attributes }}>
    <td>{{ paiement.inscription.eleve }}</td>
    <td>{{ paiement.inscription.classe }}</td>
    <td>{{ paiement.montant }}</td>
    <td>{{ paiement.inscription.totalRemis }}</td>
    <td>{{ paiement.inscription.montantRestant }}</td>
</tr>
